@plugin "daisyui/theme" {
    name: 'light';
    default: true;
    prefersdark: false;
    color-scheme: light;
    --color-primary: #FF9933;
    --color-primary-content: #374151;

    --color-secondary: #006699;
    --color-secondary-content: #FFFFFF;

    --color-accent: #44C8F5;
    --color-accent-content: #1B1C1E;

    --color-neutral: #374151;
    --color-neutral-content: #F3F4F6;

    --color-base-100: #F9FAFB;
    --color-base-200: #E5E7EB;
    --color-base-300: #D1D5DB;
    --color-base-content: #1B2431;

    --color-info: #3ABFF8;
    --color-info-content: #FFFFFF;

    --color-success: #36D399;
    --color-success-content: #FFFFFF;

    --color-warning: #FBBD23;
    --color-warning-content: #1B1C1E;

    --color-error: #DD1C1A;
    --color-error-content: #F9FAFB;
}