@import "tailwindcss";

@plugin "daisyui" {
    themes: [ "light --default", "dark --prefersdark"]
}

@import "./daisy.light.css";
@import "./daisy.dark.css";

@utility input {
    @apply focus:input-primary;
}

@utility select {
    @apply focus:select-primary;
}

@utility textarea {
    @apply focus:textarea-primary;
}

@utility label {
    @apply focus:textarea-primary;
}

.validator-hint {
    @apply mt-0;
}

.container {
    width: 100%;
}

@container (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

@container (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@container (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@container (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@container (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}